* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #21243D;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #21243D;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

:root {
  --bg-color-section: #EDF7FA;
}

[class*="__container"] {
  max-width: 888px;
  margin: 0 auto;
  padding: 0px 15px;
}

[class*="__container1"] {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0px 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 41px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  padding: 28px 37px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info {
  padding: 71px 0 79px 0;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__content {
  padding-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 19px;
}

.info__content .info__title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.4;
  margin: 0 0 40px 0;
}

.info__content .info__text {
  margin-bottom: 38px;
}

.info__content .btn {
  display: inline-block;
  padding: 9px 20px;
  background-color: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  text-transform: capitalize;
}

.info__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 306px;
          flex: 0 0 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info__avatar img {
  width: 243px;
  height: 243px;
}

.post {
  background: var(--bg-color-section);
}

.post__body {
  padding: 23px 0 30px;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.post__header-title {
  font-size: 22px;
  line-height: 1.5;
}

.post__header-link {
  color: #00A8CC !important;
}

.post__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__items .post__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 30px 50px 15px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.post__items .post__item:not(:last-child) {
  margin-right: 20px;
}

.post__items .post__item-title {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 36px;
}

.post__items .post__item-info {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 27px;
}

.post__items .post__item-info li {
  display: inline-block;
  position: relative;
  padding: 0 5px 0 27px;
}

.post__items .post__item-info li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  top: 3px;
  left: 0;
  background-color: #21243D;
}

.post__items .post__item-info li:first-child {
  margin-right: 30px;
  padding: 0;
}

.post__items .post__item p {
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */